<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/tailwindcss/1.2.0/tailwind.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <title>User Home Page</title>
</head>
<body>
<div>
    <div class="flex items-center justify-center bg-blue-300 py-4 text-blue-800">
        <div class="container mx-auto flex justify-between items-center text-center">
            <h2 class="text-2xl">文件管理列表</h2>
            <div class="text-xs text-left">
                <p>用户名：<span class="font-bold" id="name">Curder</span></p>
                <p>最后登录时间：<span class="font-bold" id="time">2020-01-02</span></p>
            </div>
        </div>
    </div>

    <div class="container mx-auto flex justify-end my-4">
        <a class="border border-blue-400 bg-blue-300 px-6 py-1 rounded-lg text-blue-800 hover:bg-blue-400 hover:border-blue-500 hover:text-blue-900"
           href="/files/uploads">文件上传</a>
    </div>

    <div class="mt-2 container mx-auto flex justify-center">
        <table class="table-auto w-full">
            <thead>
            <tr class="text-left">
                <th class="px-4 py-2 border">文件名</th>
                <th class="px-4 py-2 border">文件大小</th>
                <th class="px-4 py-2 border">时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="border px-4 py-2">hello-world.mp4</td>
                <td class="border px-4 py-2">152KB</td>
                <td class="border px-4 py-2">2019-01-21 15:32</td>
            </tr>
            <tr class="bg-gray-100">
                <td class="border px-4 py-2">1.txt</td>
                <td class="border px-4 py-2">22KB</td>
                <td class="border px-4 py-2">2020-01-22 14:21</td>
            </tr>
            <tr>
                <td class="border px-4 py-2">Intro to JavaScript</td>
                <td class="border px-4 py-2">Chris</td>
                <td class="border px-4 py-2">1,280</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
     $(function(){

        $.ajax({
            url: "/users/info?" + queryParams(),
            type: "POST",
            error: function (err) {
                alert(JSON.stringify(err));
            },
            success: function (body) {
                var resp = body;
                if (typeof (resp) == 'string') {
                    resp = JSON.parse(body);
                }

                if (resp.code === 10005) {
                    window.location.href = "/static/view/sign-in.html";
                }
                document.getElementById("name").innerHTML = resp.data.name;
                document.getElementById("time").innerHTML = resp.data.sign_up_at;
            }
        });
    })

     function queryParams() {
         var username = localStorage.getItem("user_name");
         var token = localStorage.getItem("user_token");
         return 'name=' + username + '&token=' + token;
     }
</script>
</body>
</html>